body
{
background-image:url('58e2941c3cf099b0971d9da96e2d23d2.jpg');
font-family: Sans-Serif;

}
table
{
background-image:url('table back.jpg');
border:0px;
}
a
{
text-decoration: none;
color:black;
}
img
{
border:2px solid black;
}

